{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='stylesheet/auth.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel=stylesheet  href="{{ url_for('static', filename='new.css') }}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav ml-3">
        <li class="nav-item">
            <a  class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" href="/login">Login</a>
        </li>
    </ul>
</nav>
{% for message in get_flashed_messages() %}
    <div class="flash bg-danger text-white text-center w-100 py-3">{{ message }}</div>
{% endfor %}
<div class="container w-25">
    
    <form class="form-auth" method="POST" action="/login">
        <h2 class="form-auth-heading">Login</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.screen_name) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div> <!-- /container -->
{% endblock %}