{% extends "layout.html" %}

{% block body  %}
<div class="card w-50 mx-auto">
    <div class="card-body">
        <h2>{{ 'Edit user' if user else 'Create new user'}}</h2>
        <form action="" method="post">
            <dl>
                <dt>Screen Name:</dt>
                <dd><input class = "form-control" type=text size=20 name=screen_name value="{{ user.screen_name if user }}"></dd>
                <dt>Email:</dt>
                <dd><input class = "form-control" type=text size=40 name=email value="{{ user.email if user }}"></dd>
                <dt>Address:</dt>
                <dd><input class = "form-control" type=text size=20 name=address value="{{ user.address if user }}"></dd>
                <dt>Bio:</dt>
                <dd><textarea class = "form-control" name=bio cols="30" rows="5">{{ user.bio if user }}</textarea></dd>

                <dd><input class = "btn btn-primary" type=submit value={{ 'save' if user else 'create' }}>
            </dl>
        </form>
    </div>
    
</div>
{% endblock %}